.gem {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.red {
    background: radial-gradient(circle at 50% 120%, #7f0000, red 50%, #FFFFFF 100%);
}

.purple {
    background: radial-gradient(circle at 50% 120%, #400040, purple 50%, #FFFFFF 100%);
}

.pink {
    background: radial-gradient(circle at 50% 120%, #cd1076, #ff1493 50%, #FFFFFF 100%);
}

.blue {
    background: radial-gradient(circle at 50% 120%, #00007f, blue 50%, #FFFFFF 100%);
}

.green {
    background: radial-gradient(circle at 50% 120%, #007f00, #00ff00 50%, #FFFFFF 100%);
}

.yellow {
    background: radial-gradient(circle at 50% 120%, #000000, yellow 50%, #FFFFFF 100%);
}
